body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

input[type="checkbox"] {
    margin-left: 10px;
    background-color: yellow;
    color: #222;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

input[type="number"] {
    background-color: yellow;
    color: #222;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    margin: 5px;
    margin-bottom: 10px;
  }

input[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff0;
    color: #222;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    animation-name: glow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

button {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #ff0;
    color: #222;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    animation-name: glow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

button:hover {
    background-color: #e6ff47;
}

button:focus {
    outline:none !important;
      box-shadow:none !important;
}

label {
    margin-right: 10px;
}

@keyframes glow {
from {
box-shadow: 0 0 10px rgba(255, 255, 0, 0.196), 0 0 20px rgba(255, 255, 0, 0.254), 0 0 30px rgba(255, 255, 0, 0.23), 0 0 40px rgba(255, 255, 0, 0.33), 0 0 50px rgba(255, 255, 0, 0.32), inset 0 0 10px rgba(255, 255, 0, 0.301), inset 0 0 20px rgba(255, 255, 0, 0.282), inset 0 0 30px rgba(255, 255, 0, 0.287), inset 0 0 40px rgba(255, 255, 0, 0.32), inset 0 0 50px rgba(255, 255, 0, 0.325); 
}
to {
box-shadow: none; 
}
}


@media screen and (min-width: 1600px) {
    .title {
        font-size: 120px;
        margin-bottom: 20px;
    }
    p {
        font-size: 40px;
        margin-bottom: 3em;
    }
    button {
      font-size: 30px;
    }
    input {
        font-size: 30px;
        width: 15%;
    }
    body {
        font-size: 30px;
    }
}